.contenedor {
  margin: 0;
  padding: 0;
  display: grid; /*posicionamos los objetos que tenemos */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 130px 90px 1fr 1fr 80px ;
  grid-gap: 1.5rem; /* rem unidad de medida relativa*/
  grid-template-areas: 
  "cont_header cont_header cont_header"
  "cont_menu cont_menu cont_menu "
  "cont_content cont_content cont_sideBar"
  "cont_content cont_content cont_sideBar"
  "cont_footer cont_footer cont_footer"
  ;
}
.cont_header{
  grid-area: cont_header ; /*llamo */
}
.cont_menu{
  grid-area: cont_menu ;

}
.cont_content{
  grid-area: cont_content;
  justify-content: center;
}
.cont_sideBar {
  grid-area: cont_sideBar;
}
.cont_footer{
  grid-area: cont_footer;
}
.bordes{
  border: 2px solid black;
}